@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0 0 0 5px;
}

.header {
  width: 100%;
  background-color: white;
}
.header p {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: bold;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.buttons .btn {
  width: 100%;
  height: 100px;
  font-size: 100%;
  border-radius: none;
}

.directions {
  width: 50%;
  float: left;
}

.dropdown-toggle:disabled {
  background-color: white;
  color: black;
}

.dropdown-toggle {
  width: 100%;
  font-size: 100%;
  padding: 20px 0 20px 0;
  border-radius: 0;
  border: 1px solid black;
}

.dropdown-menu {
  width: 200%;
  display: none;
  background-color: white;
  color: black;
  border: 0.5px solid black;
}

.menu-active {
  display: block;
}

.dropdown-menu-link {
  width: 100%;
  display: none;
  background-color: white;
  color: black;
  border: 0.5px solid black;
}

.dates {
  width: 50%;
  float: right;
  background-color: white;
}
.dates p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  border: 0.5px solid black;
  font-weight: 500;
}

.number {
  width: 70%;
  height: 100%;
  float: left;
  background-color: white;
}
.number p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: 500;
}

.minp {
  width: 30%;
  float: right;
  background-color: white;
}
.minp p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: 500;
}

.links {
  width: 70%;
  float: left;
  background-color: white;
}
.links p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: 500;
}

.links-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links-btn .btn {
  width: 100%;
  height: 50px;
  font-size: 100%;
  padding: 0 10px 0 10px;
}

.link {
  display: none;
}

.link-active {
  display: inline-block;
}

.maxp {
  width: 30%;
  float: right;
  background-color: white;
}
.maxp p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: 500;
}

.dates-soon {
  width: 100%;
  float: left;
  background-color: white;
}
.dates-soon p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: 500;
}

.price {
  width: 100%;
  float: left;
  background-color: white;
}
.price p {
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 100%;
  border: 0.5px solid black;
  font-weight: 500;
}

.mosPolyt {
  background-color: rgb(51, 68, 143);
  color: white;
}

.spbpu {
  background-color: rgb(31, 161, 38);
  color: white;
}

.spbgut {
  background-color: rgb(224, 158, 3);
  color: white;
}

.laty {
  background-color: rgb(107, 125, 204);
  color: white;
}

.itmo {
  background-color: rgb(84, 84, 84);
  color: white;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 80%;
  }
  .buttons {
    width: 100%;
  }
  .buttons .btn {
    font-size: 100%;
  }
  .number {
    width: 70%;
    height: 100%;
  }
  .number p {
    font-size: 80%;
  }
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 80%;
  }
  .links {
    width: 70%;
    float: left;
  }
  .links p {
    font-size: 80%;
  }
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 80%;
  }
}
@media screen and (max-width: 700px) {
  .container {
    max-width: 90%;
  }
  .buttons {
    width: 100%;
  }
  .buttons .btn {
    font-size: 60%;
  }
  .number {
    width: 70%;
    height: 100%;
  }
  .number p {
    font-size: 40%;
  }
  .dates p {
    padding: 10px 0 10px 0;
  }
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 40%;
    padding: 16px 0 16px 0;
  }
  .links-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-btn .btn {
    height: 50px;
    font-size: 43%;
    padding: 0 10px 0 10px;
  }
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 30%;
    padding: 21px 0 20px 0;
  }
}
@media screen and (max-width: 610px) {
  .container {
    max-width: 90%;
  }
  .buttons {
    width: 100%;
  }
  .buttons .btn {
    font-size: 60%;
  }
  .number {
    width: 70%;
    height: 100%;
  }
  .number p {
    font-size: 40%;
  }
  .dates p {
    padding: 10px 0 10px 0;
  }
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 40%;
    padding: 16px 0 16px 0;
  }
  .links-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-btn .btn {
    height: 50px;
    font-size: 43%;
    padding: 0 10px 0 10px;
  }
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 30%;
    padding: 21px 0 20px 0;
  }
}
@media screen and (min-width: 509px) {
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 30%;
    padding: 24px 0 24px 0;
  }
}
@media screen and (min-width: 451px) {
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 40%;
    padding: 20px 0 20px 0;
  }
}
@media screen and (min-width: 431px) {
  .dates p {
    padding: 18px 0 18px 0;
    font-size: 60%;
  }
}
@media screen and (max-width: 414px) {
  .container {
    max-width: 90%;
  }
  .buttons {
    width: 100%;
  }
  .buttons .btn {
    font-size: 60%;
  }
  .number {
    width: 70%;
    height: 100%;
  }
  .number p {
    font-size: 40%;
  }
  .dates p {
    padding: 10px 0 10px 0;
  }
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 40%;
    padding: 16px 0 16px 0;
  }
  .links-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-btn .btn {
    height: 50px;
    font-size: 43%;
    padding: 0 10px 0 10px;
  }
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 30%;
    padding: 21px 0 20px 0;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 90%;
  }
  .buttons {
    width: 100%;
  }
  .buttons .btn {
    font-size: 60%;
  }
  .number {
    width: 70%;
    height: 100%;
  }
  .number p {
    font-size: 40%;
  }
  .dates p {
    padding: 10px 0 10px 0;
  }
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 40%;
    padding: 16px 0 16px 0;
  }
  .links-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-btn .btn {
    height: 50px;
    font-size: 43%;
    padding: 0 10px 0 10px;
  }
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 30%;
    padding: 20px 0 20px 0;
  }
}
@media screen and (max-width: 338px) {
  .container {
    max-width: 90%;
  }
  .buttons {
    width: 100%;
  }
  .buttons .btn {
    font-size: 60%;
  }
  .number {
    width: 70%;
    height: 100%;
  }
  .number p {
    font-size: 40%;
  }
  .dates p {
    padding: 10px 0 10px 0;
  }
  .minp {
    width: 30%;
  }
  .minp p {
    font-size: 40%;
    padding: 16px 0 16px 0;
  }
  .links-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links-btn .btn {
    height: 50px;
    font-size: 43%;
    padding: 0 10px 0 10px;
  }
  .maxp {
    width: 30%;
  }
  .maxp p {
    font-size: 30%;
    padding: 18px 0 18px 0;
  }
}